
p {
    text-align: center;
}
footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links > a {
    color: #45484a;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}